.trending-box {
  background: #ffaf4b;
  background: -webkit-gradient(left top, right top, color-stop(0%, #ffaf4b), color-stop(100%, #d04011));
  background: -webkit-gradient(linear, left top, right top, from(#ffaf4b), to(#d04011));
  background: linear-gradient(to right, #ffaf4b 0%, #d04011 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#d04011', GradientType=1 );
  padding-bottom: 2rem;
}

.trending-box .container {
  height: auto;
  min-height: auto;
}
